language: ruby

rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.2

env:
  - TEST_WITH_RACK=1.1.0
  - TEST_WITH_RACK=1.2.0
  - TEST_WITH_RACK=1.3.0
  - TEST_WITH_RACK=1.4.0
  - TEST_WITH_RACK=1.5.0
